@import url("colors.css");

* {
    font-family: "FiraCode Nerd Font Propo";
    font-size: 15px;
}

#waybar {
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
}

/*-----MODULES-----*/

#network,
#tray,
#pulseaudio,
#battery,
#clock {
    margin: 0 15 0 15px;
}

#network {
    margin: 0 15 0 20px;
    color: @color2;
    border-bottom: 3px solid;
}

#tray {
    color: @color3;
    border-bottom: 3px solid;
}

#pulseaudio {
    color: @color4;
    border-bottom: 3px solid;
}

#battery {
    color: @color5;
    border-bottom: 3px solid;
}

#clock {
    margin: 0 20 0 15px;
    color: @color6;
    border-bottom: 3px solid;
}

.modules-left {
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
}

.modules-right {
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
}

/*-----WORKSPACES-----*/

#workspaces {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding: 0 10 0 10px;

    box-shadow: none;
    text-shadow: none;

    border: none;

    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @color1;
}

#workspaces button:hover {
    color: @color1;
    background: transparent;

    box-shadow: none;
    text-shadow: none;

    border: none;

    transition: all 0.2s ease;
}
