@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: "FiraCode Nerd Font Propo";
    font-size: 15px;
}

#waybar {
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
}

/*-----MODULES-----*/

#network,
#tray,
#pulseaudio,
#battery,
#clock {
    margin: 0 15 0 15px;
}

#clock {
    margin: 0 20 0 15px;
}

#network {
    margin: 0 15 0 20px;
}

.modules-left {
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
}

.modules-right {
    color: @foreground;
    background-color: @background;
    border-radius: 8px;
}

/*-----WORKSPACES-----*/

#workspaces {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding: 0 10 0 10px;

    box-shadow: none;
    text-shadow: none;

    border: none;

    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @color9;
}

#workspaces button:hover {
    color: @color10;
    background: transparent;

    box-shadow: none;
    text-shadow: none;

    border: none;

    transition: all 0.2s ease;
}
